h4 { color: coral; 
	font-size: 40px;
}

#border {
		border: 2px solid red;
		border-radius: 5px; }
		
.pineapple {
	float: right;
	margin: 10px 10px 10px 10px
	width:100px;
	height:100px; }
	
.banana {
	float: left;
	margin: 10px 10px 10px 10px
	width:100px;
	height:100px;
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; }
		
